{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockAdvisor</title>


    <link rel="icon" href="{% static 'images/favicon.jpeg' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'styles/styles_login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <div class="LogoContent">
            <div class="box">
                <h1>Stock Advisor</h1>
            </div>
        </div>  
        <div class="LoginForm">
            <h2>Login</h2>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="labeldiv">
                    <label>Nome de Usuário:</label>
                </div>
                <input type="text" id="username" name="username" required placeholder="Digite seu Nome de Usuário">
                <div class="labeldiv">
                    <label>Senha:</label>
                </div>
                <input type="password" id="password" name="password" required placeholder="Digite sua senha">
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            <div class="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="btn-div">
                    <button type="submit">Entrar</button>
                </div>
            </form>
            <a href="/auth/cadastro" style="text-decoration: none;">
                <h3>Não tem conta ainda? cadastre-se aqui :)</h3> 
            </a>       
        </div>
</body>
</html>